{% extends 'base.html' %}

{% block title %}
<title>Inventory Managment App</title>
{% endblock %}
{% block content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-YR6U5v6z5hr6YGMp6aLcEK3qMZ3oOg9ny+nnMC8J1utupivpCJgjOwIKFNO8/+JW+OvOTsyBr4Jt4aGtQShWtQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    .table-row {
      display: flex;
      flex-wrap: wrap;
    }

    .table-container {
      flex: 1;
      margin: 5px;
      overflow-x: auto;
      position: relative;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 6px;
    }
    tr:nth-child(even){background-color: #f2f2f2}
    td {
      text-align: center;
    }
    th {
      background-color: #337ab7;
      color: white;
      position: sticky;
      top: 0;
      z-index: 1;
    }
    #searchContainer {
  width: 300px;
  height: 20px;
  margin-bottom: 20px;
}
    .search-container {
  width: 400px;
  height: 30px;
  margin-bottom: 10px;
}


  </style>
<script>
$(document).ready(function() {
  // Get the table rows
  var rows = $('table tbody tr');

  // Add event listener for search input
  $('#searchInput').on('input', function() {
    var searchTerm = $(this).val().toLowerCase();

    // Filter rows based on search input
    rows.each(function() {
      var rowMatches = false;
      $(this).find('td').each(function() {
        var cellText = $(this).text().toLowerCase();
        if (cellText.includes(searchTerm)) {
          rowMatches = true;
          return false; // exit the loop if a match is found
        }
      });
      if (rowMatches) {
        $(this).show();
      } else {
        $(this).hide();
      }
    });
  });
});

</script>
<body>
   <div class="container-fluid">
              <br>
            <div class="card-header">Dashboard</div>
            <div class="card-body">
       <div class="row">
             <div class="col-md-6">
    <div class="search-container">
      <div class="form-group">
          <br>

        <input type="text" class="form-control" id="searchInput" placeholder="Search">

      </div>
    </div>
  </div>
           <br>
  <div class="col-md-6">
    <form method="post">
      <label for="start_date">Start date:</label>
      <input type="date" id="start_date" name="start_date">
      <label for="end_date">End date:</label>
      <input type="date" id="end_date" name="end_date">
      <input type="submit" value="Filter"> <a href="{{ url_for('download_csv') }}">Download CSV<i style="font-size:24px" class="fa">&#xf019;</i>
</a>
    </form>
  </div>

</div>

                </form>
                <script>
function downloadCSV() {
  // Get the filtered data as a CSV string
  var csv = 'data:text/csv;charset=utf-8,';
  merged_df.to_csv(csv, index=false);

  // Create a link element and trigger the download
  var link = document.createElement('a');
  link.setAttribute('href', encodeURI(csv));
  link.setAttribute('download', 'filtered_data.csv');
  link.click();
}
</script>


    <div class="table-row">
  {% for location, table in tables.items() %}
    <div class="table-container table-scrollable">
      <div class="table-header">
        <h2>{{ location }}</h2>
      </div>
      <table class="table table-striped table-bordered table-hover">
        {{ table | safe }}
      </table>
    </div>
  {% endfor %}
</div>
                <div class="table-row">

            </div>
        </div>
    </div>
</div>
{% endblock %}